<h1>Log In</h1>

<%= form_tag login_path, :class => 'form-horizontal', :method => :post do %>

	<div class="control-group">
	 <label class="control-label">Email</label>
	    <div class="controls">
	     <%= text_field_tag :email, params[:email], :class => 'text_field' %>
	    </div>
	  </div>
	

<div class="control-group">
   <label class="control-label">Password</label>
    <div class="controls">
     	<%= password_field_tag :password, params[:password], :class => 'text_field' %>
    </div>
  </div>


<div class="form-actions">
    <%= submit_tag "Log In", :class => 'btn btn-primary' %></a>
  </div> 

<% end %>