// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.headline {
	width: 80%;
	margin: 0 auto;
	position: relative;
	align: center;
}

#date {
	float: right;
	color: #f23838;
	padding-top: 0.5em;
	font-family: 'Open Sans', sans-serif;
}

h4 {
	font-size: 3em;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	text-align: center;
	position: relative;
	color: #f23838;
	font-style: italic;
}

h4 a {
	color: #f23838;
}

#articlebody {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	align: center;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

img {
	max-width: 100%;
}

.articlebox {
	width: 60%;
	margin: 2em auto;
	position: relative;
	align: center;
	-moz-border-radius: 5em; /* from vector shape */
	-webkit-border-radius: 5em; /* from vector shape */
	border-radius: 2em; /* from vector shape */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	background-color: #fff; /* layer fill content */
	padding: 0 1em 1em 1em;
	border: 2em solid #30c4c1;
}

.articletagbox {
	-moz-border-radius: 5em; /* from vector shape */
	-webkit-border-radius: 5em; /* from vector shape */
	border-radius: 0.5em; /* from vector shape */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	background-color: #f4ba4a; /* layer fill content */
	margin: 0.5em 0.5em 0.5em 0.5em;
	padding: 0.2em 0.2em 0.2em 0.5em;
	display: inline;
	color: #602d2f;
}	



