// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.headline {
	width: 80%;
	margin: 0 auto;
	position: relative;
	text-align: center;
	font-family: helvetica;
	font-size: 1.5em;
	color: #f23838;
	-moz-border-radius: 1em; /* from vector shape */
	-webkit-border-radius: 1em; /* from vector shape */
	border-radius: 1em; /* from vector shape */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	background-color: #fff; /* layer fill content */
	padding: 0.25em 0.25em 0.25em 0.25em;
}

#date {
	float: right;
	color: #f23838;
	padding-top: 0.5em;
	font-family: helvetica;
}

#tags {
	float: left;
	color: #f23838;
	font-family: helvetica;
}

#articletitle {
	font-size: 3em;
	font-family: helvetica;
	font-weight: bold;
	text-align: center;
	align: center;
	display: block;
	color: #f23838;
	padding-top: 0.75em;
}

#articletitle a:hover {
	color: #477ec7;
}

#articlebody {
	font-family: helvetica;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	image-align: center;
	padding-bottom: 2em;
}
#articlebody a {
	color: #fa6655;
}
#articlebody a:hover {
	color: #477ec7;
}

.articlebox {
	width: 60%;
	margin: 2em auto;
	position: relative;
	align: center;
	-moz-border-radius: 5em; /* from vector shape */
	-webkit-border-radius: 5em; /* from vector shape */
	border-radius: 2em; /* from vector shape */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	background-color: #fff; /* layer fill content */
	padding: 0 1em 1em 1em;
	border: 2em solid #30c4c1;
}

.articletagbox {
	-moz-border-radius: 5em; /* from vector shape */
	-webkit-border-radius: 5em; /* from vector shape */
	border-radius: 0.5em; /* from vector shape */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	background-color: #f4ba4a; /* layer fill content */
	margin: 0.5em 0.5em 0.5em 0.5em;
	padding: 0.2em 0.2em 0.2em 0.5em;
	display: inline;
	color: #602d2f;
}	

#picOne, #picTwo {
	position: relative;
	display: none;
}

